body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #5c4a72 15%, #A3586D 30%, #F46A4E 45%, #f4874b 60%, #f3b05a 75%);
}

#demo {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#sun {
    width: 15rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#moon {
    width: 15rem;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -115.315px;
    z-index: -1;
    opacity: 0;
}

#hill {
    z-index: 2;
    width: 100vw;
    position: fixed;
    bottom: 0;
}

@media only screen and (min-width: 320px) and (max-width: 1023px) {
    body {
        display: none;
    }
}

#city {
    position: absolute;
    width: 100vw;
    bottom: 6%;
}

@media only screen and (min-width: 1366px) {
    #city {
        bottom: 10%;
    }
}

#restartBtn {
    position: absolute;
    right: 10%;
    top: 10%;
    padding: .75rem 1.5rem .75rem 1.5rem;
    background-color: gold;
    border-radius: .25rem;
    color: black;
    border: none;
    font-size: 1rem;
}

.star {
    position: absolute;
}

#whiteStar {
    width: 3rem;
    left: 10%;
    top: 10%;
}

#starGroupOne {
    width: 10rem;
    left: 20%;
    top: 20%;
}

#goldSparkle {
    width: 5rem;
    right: 25%;
    top: 20%;
}

#goldSparkleTwo {
    width: 10rem;
    left: 20%;
    top: 20%;
}